@import "~styles/variables";

.container{
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding-top:58%;

}

.item{
	top:0;
	width:100%;
	position: absolute;
	pointer-events:none;
	box-shadow: 0 4px 7px 0 rgba(0,0,0,0.15);
	border-radius:10px;
	overflow:hidden;
	img{
		width:100%;
	}
}


@include breakpoint(tablet){
	.container{
		width: 80%;
	
	}
  
  }
  