@import "~styles/variables";

.box {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    'Icon Name'
    'Icon Usecase';
  grid-column-gap: 16px;
  grid-template-columns: 60px auto;
  margin-bottom: 40px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  font-family: $founders-grotesk;
  margin-bottom: 0px;
  margin-top: 4px;
  color: #fff;
}

.usecase {
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: -12px;
  color: $text-grey-dark;
}

.icon {
  grid-area: Icon;
  width: 60px;
  height: 60px;
}

@include breakpoint(tablet){
  .box {
    width: 28%;
  }
}

@include breakpoint(desktop){
  .box {
    width: 28%;
  }
}
