@import "~styles/variables";


.outer{
	position: relative;

}
.container{
	display: flex;
	position: relative;
}

.scroll{
	overflow: auto;
}
.scroll::-webkit-scrollbar { 
    display: none; 
}
.item{
	padding: 6px 20px;	
	font-weight: 500;
	color: #282A3D;
	opacity: .5;
	cursor: pointer;
	position: relative;
	z-index:5;
	transition: opacity .2s;
	vertical-align: middle;
	&:hover{
		opacity: 1;
	}
	img{
		margin-right: 8px;
	}
	:global{
	.iconTab{
		display: flex;
		align-items: center;
	}
}
}

.item-active{
	composes: item;
	opacity: 1;
}

.slider{
	height: 35px;
	background: #FFFFFF;
	box-shadow: 0 4px 7px -3px rgba(0,0,0,0.21);
	border-radius: 5px;
	position: absolute
	
}

.outer:before{
	display: block;
	content:'';
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	width: 20px;
	background-image: linear-gradient(90deg, rgba(237,238,243,0.00) 0%, #EDEEF3 100%);
	z-index: 99;

}




@include breakpoint(tablet){
	.section-problems {
		p {
			margin-bottom: 60px;
		}
	}
	.focusToggle{
		display:flex;
	}
	.focusToggle-mobile{
		display:none;
	}
	.focusControls{
		display: flex;
	}

	.outer:before{
		display:none;

	}

}


@include breakpoint(mobileonly){
	.item{
		padding: 6px 10px;
	}
  }
