.container{
	display: flex;
	position: relative;
}

.scroll{overflow: auto;}
.item{
	padding: 6px 20px;	
	font-weight: 500;
	color: #282A3D;
	opacity: .5;
	cursor: pointer;
	position: relative;
	z-index:5;
	transition: opacity .2s;
	vertical-align: middle;
	&:hover{
		opacity: 1;
	}
	img{
		margin-right: 8px;
	}
	:global{
	.iconTab{
		display: flex;
		align-items: center;
	}
}
}

.item-active{
	composes: item;
	opacity: 1;
}

.slider{
	height: 35px;
	background: #FFFFFF;
	box-shadow: 0 4px 7px -3px rgba(0,0,0,0.21);
	border-radius: 5px;
	position: absolute
	
}

