
@font-face {
    font-family: 'FG';
	src: url('/assets/fonts/FoundersGroteskWeb-Regular.eot'),
		 url('/assets/fonts/FoundersGroteskWeb-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'FG';
	src: url('/assets/fonts/FoundersGroteskWeb-Semibold.eot'),
		 url('/assets/fonts/FoundersGroteskWeb-Semibold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}