@import 'mixins';

$border-color-dark: #DFE1E5;
$body-background:#EDEEF3;

$red: #FF3B30;
$red-dark: #AD0000;
$red-light: #FDE8EC;

$blue: #007AFF;
$blue-dark: #0053AD;
$blue-light: #E0EBF8;

$cyan: #5AC8FA;
$cyan-dark: #2383AF;
$cyan-light: #DFF3FC;

$orange: #FF9500;
$orange-dark: #985900;
$orange-light: #FFEFD8;

$text-grey-dark: #C5C5C5;
$text-grey-light: #717171;
$founders-grotesk: "FG";

$headline-dark: #282A3D;