@import '~styles/variables';
@import '~styles/typography';

.headline{
	filter: blur(30px);
}


.headline-focus{
	composes:headline;
	animation: focus 1.5s ease-out;
	animation-fill-mode: forwards;
}


@keyframes focus {
	0%{
		filter: blur(30px);
	}

	60%{
		filter: blur(10px);
	}

	65%{
		filter: blur(10px);
	}

	100%{
		filter: blur(0px);
	}
}
