@import "~styles/variables";

.pre-headline{
	font-size:21px;
	color:white;
	padding: 5px 10px;
	border-radius: 5px;
	line-height: 1;
	display: inline-block;
	font-weight: 700;
	margin-bottom:28px;
}

.pre-headline-red{
	composes: pre-headline;
	background-color: $red; 
}

.pre-headline-cyan{
	composes: pre-headline;
	background-color: $cyan; 
}

.pre-headline-blue{
	composes: pre-headline;
	background-color: $blue; 
}

.pre-headline-orange{
	composes: pre-headline;
	background-color: $orange; 
}