@import "~styles/variables";
@import "~styles/typography";

.intro{
	font-weight: 500;
	text-align: center;
}


.problem-icon{
	display: block;
	margin-bottom: 30px;
}

.section{
	padding: 100px 0;
	overflow: hidden;
}

.section-search{
	composes:section;
	text-align: center;
}

.section-previews{
	composes:section;
}

.section-intro {
	p {
		columns: 2;
		margin-bottom: 90px;
		column-gap: 50px;
	}
}

.section-focus, .section-spaces, .section-history{
	composes:section;
	p {
		line-height: 1.8;
	}

}

.focusControls{
	display:flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.focusToggle{
	display:flex;
	align-items: center;
}

.focusToggleLabel{
	font-weight: 500;
	color: #7F8296;
	line-height: 1;
	cursor: pointer;
}
.focusToggleLabel-enabled{
	composes:focusToggleLabel;
	color: #282A3D;
}

.focusToggleSwitch{
	margin: 0 15px;
}



@include breakpoint(desktop){
	.intro {
	  font-size: 25px;
	  line-height: 41px;
	}
  }


  @include breakpoint(mobileonly){
	.search-tags-screen{
		width: 180%;
		max-width: none;
	}
  }
