.fragment{
	opacity: 0;
	transform: translateY(20px);
	transition: all 1s cubic-bezier(.165, .84, .44, 1);
	display: inline-block;
}

.fragment-revealed{
	composes: fragment;
	opacity: 1;
	transform: translateY(0px);
}
