@import "~styles/variables";

.container {
  position: absolute;
  width: 100%;
}

.nav {
  border-bottom: 1px solid rgba(255,255,255,0.13);
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  color: white;
  line-height: 1;
}

.logoLink {
  text-decoration: none;
  color: white;
}

.logo {
  font-size: 32px;
}

.logo, .navLink {
  margin: 0;
  line-height: 40px;
}

.linkContainer{
  margin-left: 30px;
  align-items: stretch;
  display: flex;
}

.links {
  display: inherit;
  font-family: "FG";
  font-size: 18px;
  position: relative;

  .navLink {
    color: $text-grey-dark;
    text-decoration: none;
    transition: .2s linear;

    &:hover {
      color: white;
    }
  }



  .navLinkActive {
    color: white;
  }


}


.bar{
 height:1px;
 width: 20px;
 background-color: white;
 position: absolute;
 transition: all .2s;
 top:125%;
}

@include breakpoint(desktop){

}
