.container{
	background-color: #F5F5FA;
}
.section{
	overflow: hidden;
	width: 100%;
	padding: 200px 0;

}
.section-spaces{
	composes: section;
}

.section-history{
	composes: section;
	background-image: url(/assets/images/history-background.png);
}

.section-context{
	composes: section;
}

.spaces-device-1-container{
	height:100px;
	position:relative;
}
.spaces-device-1{
	width: 1000px;
	bottom:0;
	position: absolute;
	left: 50%;
}

.history-figure-1-container{
	height:0px;
	position:relative;
}
.history-figure-1{
	width: 1000px;
	bottom:0;
	position: absolute;
	right: 50%;
}
