@import "~styles/variables";

.container {
  background: #000;
}

.pageTitle {
  font-size: 54px;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.subheadline {
  color: $text-grey-dark;
  text-align: center;
  margin: 0;
}

.headline {
  color: white;
  font-weight: 500;
}

.copy {
  color: $text-grey-dark;
  font-size: 18px;
  line-height: 1.6;
}

.processImage {
  margin: 70px 0;
}

@include breakpoint(desktop){
  .container {
    padding-top: 170px;
  }
}
