@import '~styles/variables';

.tag{
	background-color: $blue;
	color:white;
	display: inline-block;
	position: absolute;
	padding: 4px 12px 6px 8px;
	border-radius: 6px;
	bottom: -13px;
}

.tagContainer{
	display: inline-block;
	position: relative;
}

.headline{
	margin-left:-64px;
	:global{
		.Typist{
			display: inline-block;
		}
	}

}
